<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>

    <!-- navbar code -->
    {{>navbar}}

    <!-- main code -->

    <div class="contaner-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-8 col-12">
                        <figure>
                            <img src="images/404.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer code -->

        {{>footer}}
</body>

</html>