<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>

    <!-- navbar code -->
    {{>navbar}}

    <!-- main code -->

    <div class="contaner-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left">
                        <h1>My name is <span class="main-text">Sameer Parmar</span></h1>
                        <p>Trainee at Minddeft Technology pvt ltd</p>
                        {{!-- <a href="/weather"><button>Check now</button></a> --}}
                    </div>

                    
                </div>
            </div>
        </div>

        <!-- footer code -->

        {{>footer}}
</body>

</html>